# VuePress files
vuepress/.vuepress/.temp/
vuepress/.vuepress/.cache/
vuepress/.vuepress/dist/
vuepress/docs/

# Dist files
dist/
lib/

# Test temp files
**/__fixtures__/.temp/

# Test coverage files
coverage/

# Node modules
node_modules/

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# Typescript build info
*.tsbuildinfo